/.bash_history
/.cache
/.cargo
/.compose-cache
/.dropbox
/.dropbox-dist
/.esd_auth
/.gnupg
/.lesshst
/.local/share
/.local/state/pipewire
/.mozilla/firefox
/.nix-*
/.pgadmin*
/.pki
/.psql_history
/.rustup/toolchains
/.rustup/update-hashes
/.segmentor/access-token
/.shiv
/.ssh
/.viminfo
/.vscode*/argv.json
/.vscode*/extensions
/.wget-hsts
/.Xauthority
/cache_directory
/go
/projects
/spotify-pw
.npm
.zoom/data
.z
generated*
*-errors
*-errors.old
logs
screenshots
fish_variables
watcherServiceParcelSharedProcess
Cache
Code Cache
Microsoft Teams
_cacache
_logs
_npx
Desktop
Documents
Downloads
Dropbox*
Games
GPUCache
libreoffice
pgadmin.log
Pictures
solaar
