/.bash_history
/.cache
/.cargo
/.compose-cache
/.config/chromium
/.config/Code*/Backups
/.config/Code*/Cookies*
/.config/Code*/*Crash*
/.config/Code*/databases
/.config/Code*/Dictionaries
/.config/Code*/machineid
/.config/Code*/*Persistent*
/.config/Code*/Preferences
/.config/Code*/Quota*
/.config/Code*/storage.json
/.config/Code*/*Watcher
/.config/Code*/*Worker
/.config/Code*/*Security
/.config/Code*/*.lock
/.config/Code*/**/*Cache*
/.config/Code*/**/*Storage*
/.config/copyq
/.config/Cypress
/.config/git-cola/settings
/.config/lazygit/state.yml
/.config/spotify/User*
/.config/spotify*/*token*.json
/.config/spotify*/client.yml
/.config/QtProject.conf
/.config/teams
/.config/vlc
/.dropbox
/.dropbox-dist
/.esd_auth
/.gnupg
/.lesshst
/.local/share
/.local/state/pipewire
/.mozilla/firefox
/.nix-*
/.pki
/.rustup/toolchains
/.rustup/update-hashes
/.shiv
/.ssh
/.viminfo
/.vscode*/argv.json
/.vscode*/extensions
/.wget-hsts
/.Xauthority
/cache_directory
/go
/projects
/spotify-pw
generated*
*-errors
*-errors.old
logs
screenshots
fish_variables
watcherServiceParcelSharedProcess
.zoom/data
.z
Cache
Code Cache
Microsoft Teams
_cacache
_logs
_npx
Desktop
Documents
Downloads
Dropbox*
Games
Pictures
.npm
GPUCache
libreoffice
solaar

