/.bash_history
/.cache
/.cargo
/.compose-cache
/.config/spotify/User*
/.esd_auth
/.lesshst
/.local/share
/.mozilla/firefox
/.pki
/.ssh
/.vscode/argv.json
/.vscode/extensions
/.Xauthority
/projects
generated*
*-errors
*-errors.old
logs
