/dconf/user
/fish/fishd.tmp.*
/pulse
/spotify/prefs
/chromium
/Code*/Backups
/Code*/Cookies*
/Code*/*Crash*
/Code*/databases
/Code*/Dictionaries
/Code*/machineid
/Code*/*Persistent*
/Code*/Preferences
/Code*/Quota*
/Code*/storage.json
/Code*/*Watcher
/Code*/*Worker
/Code*/*Security
/Code*/*.lock
/Code*/**/*Cache*
/Code*/**/*Storage*
/copyq
/Cypress
/gcloud
/git-cola/settings
/lazygit/state.yml
/leftwm/themes/Forest
/Pinta
/Postman
/QtProject.conf
/spotify/User*
/spotify*/*token*.json
/spotify*/client.yml
/teams
/vlc
