[Install]
WantedBy=graphical-session.target

[Service]
Environment=allow_rgb10_configs=false
ExecStart=/nix/store/xky3k8ky2bcw4m0aadwhab6am72syrlw-compton-unstable-2019-12-20/bin/picom --config /nix/store/6yqnr3vih9rh2bl40wrds86wnkjra4z9-picom.conf --experimental-backends
Restart=always
RestartSec=3

[Unit]
After=graphical-session-pre.target
Description=Picom X11 compositor
PartOf=graphical-session.target
