[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/nix/store/80308ggaa4ccsfyf0dayl9cn3vafz048-redshift-1.12/bin/redshift -v -c /home/tor/.config/redshift/redshift.conf
Restart=on-failure
RestartSec=3

[Unit]
After=graphical-session-pre.target
Description=Redshift colour temperature adjuster
Documentation=http://jonls.dk/redshift/
PartOf=graphical-session.target
